@model IEnumerable<DinoForum.Models.Discussion>

@{
    ViewData["Title"] = "My Posts";
}

<h1>My Posts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @if (!String.IsNullOrEmpty(item.ImageFilename))
                    {
                        <img src="/images/@Html.DisplayFor(modelItem => item.ImageFilename)" width="100"/>
                    }
                    else 
                    {
                        <p>No Image</p>
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                <a href="/home/getdiscussion/@Html.DisplayFor(modelItem => item.DiscussionId)">View</a> |
                <a asp-action="Edit" asp-route-id="@item.DiscussionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DiscussionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DiscussionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
